<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>-->
  <connectionStrings>
    <add name="Default" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Andrey\source\repos\LisokasNail\LisokasNail\NailsDB.mdf;Integrated Security=True;Connect Timeout=30" />
    <add name="Release" connectionString="Data Source=DESKTOP-RCH2402\MSSQL17;Database=Nails;Trusted_Connection=True;" />
  </connectionStrings> 

</configuration>