<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <!--Local Debug:--> 
      <!--<add key="apiUrl" value="https://localhost:44357/api/" />--> 
      <!--Productive:--> 
      <add key="apiUrl" value="http://localhost:80/WebApi/api/" />
      <!--Azure Cloud: -->
      <!--<add key="apiUrl" value="https://lizokasnailwebapi.azurewebsites.net/api/" />-->
    </appSettings>
</configuration>